nav {
    background-color: #5db5b7;
    color: #FFF;
    float: left;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    height: 65px;
    width: 100%;
}

nav > ul {
    margin-left: 6px;
    margin-top: 0;
    padding-left: 0;
}

nav > ul > li {
    display: inline-block;
    margin-top: 25px;
}

nav > ul > li > a {
    color: #FFF;
    padding: 25px;
}

nav > ul > li > a:hover, nav > ul > li > a:visited {
    color: #FFF;
}